@font-face {
  font-family: 'Yeager';
  src: local('Yeager'), url(../assets/fonts/Yeager-Regular.otf) format('opentype');
}

.btn {
    /* position: absolute; */
    align-items: center;
    margin:1%;
  }

.container{
  position: absolute;
  padding: 0px;
  margin:0px;
  max-width: 100%;
  background-color: #3700B3;
  opacity: 0.8;
}
 
.title{
  color: white;
  font-size: 25px;
  font-weight: 1000;
  text-shadow: gray;
  vertical-align: middle;
  text-shadow: 0 2px 0 hsl(174, 1%, 67%), 0 3px 0 hsl(0, 0%, 51%);
}

#dropdown-algorithms{
  background-color: #5ca739;
  border-color: #5ca739;
}

#dropdown-speed{
  background-color: #b8bb00;
  border-color: #b8bb00;
}

#visualize{
  background-color: #5f00e3;
  border-color: #5f00e3;
}

#maze{
  background-color: #02cebd;
  border-color: #02cebd;
}


.canvas-container{
  font-family: 'Yeager';
  position: relative;
}

canvas{
  display: block;
}

#github{
  position: absolute;
  right:20px;
  bottom: 20px;
}

#openTutorial{
  position: absolute;
  right:70px;
  bottom: 20px;
}

#developer{
  position: absolute;
  bottom: 20px;
  text-align: center;
  left:45%;
  font-size: 0.8vw;
  color: #4a4a4a;
}
